
body {
    background-image: url("pb0.png");
    background-color:rgb(23, 26, 24);
    background-size: cover;
    border-radius: 96px 0px 96px 0px;
} 
.card {
    border-radius: 0px 0px 100px 100px;
    background-color:rgb(23, 26, 24);
}
.list-group {
    display: flex;
    border-radius: 96px 96px 96px 0px;
    flex-direction: column;
    
}
/* 
body{
    
    background-image: url('pic1.jpeg');
    background-size: cover;
    background-position: top center;
    background-repeat:no-repeat;
    background-image: linear-gradient(black, grey, white);
}  */
/* body  {
    background-image: url("pbbg.jpeg");}
    
    #grad1 {
    height: 200px;
    background-color: #cccccc;
    background-image: linear-gradient(black, grey, white);
  } */