{% extends 'base.html' %}

{% block content %}
<!-- {% if current_user.is_authenticated %} -->
<p style="color:black;">
<h4>Welcome {{ current_user.username }}</h4>
{% else %}

{% endif %}

 <center><h4>Register to Login and add yourself to my Phonebook! :)</h4>
    <!-- <img src="p.png" alt=" Chania" width="460" height="345"> -->
    
<img src="https://d29fhpw069ctt2.cloudfront.net/icon/image/39126/preview.png" alt="phonebook icon"></center> 

   
 
<!-- {% for p in posts %} -->

   
{% endfor %}
{% endblock %}