<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>{{  title }}</title>
</head>
<body  style="background-color:rgb(29, 68, 48);">
    <!-- NAVBAR-->
{% include 'nav.html' %}
  <!-- MAIN-->
  <div class="container">
    {% block content %}

    {% endblock %}
  </div>
<br>
<div class="container">
    <h1>Faf De Klerk - The Giant Slayer - is actually incredible:</h1>

<a class="Giant Slayer Clips" href="https://www.youtube.com/watch?v=RGrb0LoT6eg">Giant Slayer in Action</a>

<br><br>
<a class="FIGHTS!" href="https://www.youtube.com/watch?v=XNgf5OiZCUU">Scuffles & Black Eyes</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>